@function convert-px($value: 16, $unit: 1rem, $base: 16) {
  @return ($value / $base) * $unit;
}

@function use-modular-scale($exponent, $ratio: 1.2) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $ratio;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $ratio;
    }
  }

  @return $value;
}
