@import '../shared/functions';
@import '../shared/variables';
@import '../mixins';

@mixin grid-template-columns($columns, $side-margin) {
    grid-template-columns: $side-margin
        repeat($columns, 1fr)
        $side-margin;
}

.grid {
    display: grid;

    @include media($max-width: mobile-1) {
        $inner-columns: map-get($grid-columns, 0) - 2;
        $side-margin: convert-px(12);
        @include grid-template-columns($inner-columns, $side-margin);
    }

    @include media($min-width: mobile-1, $max-width: tablet-0) {
        $inner-columns: map-get($grid-columns, 0) - 2;
        $side-margin: 2.12676%;
        @include grid-template-columns($inner-columns, $side-margin);
    }

    @include media($min-width: tablet-0, $max-width: tablet-1) {
        $inner-columns: map-get($grid-columns, 768) - 2;
        $side-margin: convert-px(80);
        @include grid-template-columns($inner-columns, $side-margin);
    }

    @include media($min-width: tablet-1, $max-width: desktop-1) {
        $inner-columns: map-get($grid-columns, 1280) - 2;
        $side-margin: convert-px(80);
        @include grid-template-columns($inner-columns, $side-margin);
    }

    @include media($min-width: desktop-1) {
        $inner-columns: map-get($grid-columns, 1280) - 2;
        $column-width: (1600 - (80 * 2)) / $inner-columns;
        grid-template-columns: 1fr
            repeat($inner-columns, convert-px($column-width))
            1fr;
    }
}

.grid-child {
    @include media($max-width: tablet-0) {
        grid-column: 2;
    }

    @include media($min-width: tablet-0, $max-width: tablet-1) {
        grid-column-start: 2;
        grid-column-end: map-get($grid-columns, 768);
    }

    @include media($min-width: tablet-1) {
        grid-column-start: 2;
        grid-column-end: map-get($grid-columns, 1280);
    }
}

.background-grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -999;

    div:not(:last-child) {
        border-right: convert-px(1) solid map-get($colors, gridlines);
    }

    @for $i from $max-grid-columns - map-get($grid-columns, 0) to $max-grid-columns {
        @include media($max-width: tablet-0) {
            div:nth-of-type(#{$i}) {
                display: none;
            }
        }
    }

    @for $i from map-get($grid-columns, 768) to $max-grid-columns {
        @include media($min-width: tablet-0, $max-width: tablet-1) {
            div:nth-of-type(#{$i + 1}) {
                display: none;
            }
        }
    }
}
