<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <!-- Utils: generate-meta-tags.ts -->

        <!-- Primary Meta Tags -->
        <title>Kevin Han | Software Engineer</title>
        <meta name="title" content="Kevin Han | Software Engineer" />
        <meta name="author" content="Kevin Han" />
        <meta name="language" content="English" />
        <meta name="description" content="Developer portfolio" />
        <meta
            name="keywords"
            content="kevin han, developer, software engineer, front-end engineer, front-end developer, back-end engineer, back-end developer, full-stack developer, "
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://kevinhan.dev" />
        <meta
            property="og:title"
            content="Meta Tags — Preview, Edit and Generate"
        />
        <meta
            property="og:description"
            content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"
        />
        <meta
            property="og:image"
            content="static/img/undraw_personal_info_0okl.svg"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://metatags.io/" />
        <meta
            property="twitter:title"
            content="Meta Tags — Preview, Edit and Generate"
        />
        <meta
            property="twitter:description"
            content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"
        />
        <meta
            property="twitter:image"
            content="static/img/undraw_personal_info_0okl.svg"
        />

        <!-- Favicon.ico -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="static/img/icons/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="static/img/icons/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="static/img/icons/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <!-- Google Fonts CDN -->
        <link
            href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,500|Orbitron&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div id="app">
            <!-- Utils: generate-react-html.ts -->
        </div>
    </body>
</html>
