<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <!-- Favicon.ico -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="static/img/icons/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="static/img/icons/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="static/img/icons/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <!-- Google Fonts CDN -->
        <link
            href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
            rel="stylesheet"
        />

        <title>Kevin Han | Software Engineer</title>
    </head>
    <body>
        <div id="app">
            <!-- Replace this line with the HTML from React. -->
        </div>
    </body>
</html>
