@import '../../styles/shared/variables';
@import '../../styles/shared/functions';
@import '../../styles/mixins';

$image-offset: 9%;

.root-container {
    picture,
    img {
        width: 100%;
    }

    @include media($max-width: 768) {
        margin-bottom: use-modular-scale(12) * 1em;
    }

    @include media($min-width: 768, $max-width: 1280) {
        margin-bottom: use-modular-scale(14) * 1em;
    }

    @include media($min-width: 1280) {
        display: flex;
        align-items: center;
        margin-bottom: use-modular-scale(16) * 1em;

        picture {
            width: 61%;
        }
    }
}

.root-container:nth-of-type(2n + 1) {
    @include media($min-width: 1280) {
        flex-direction: row-reverse;

        picture {
            transform: translateX($image-offset);
        }
    }
}

.root-container:nth-of-type(2n) {
    @include media($min-width: 1280) {
        picture {
            transform: translateX($image-offset * -1);
        }
    }
}

.project-body-container {
    @include media($min-width: 1280) {
        flex: 1 1 0;
    }
}

.image {
    @include media($max-width: 768) {
        margin-bottom: use-modular-scale(1) * 1em;
    }

    @include media($min-width: 768, $max-width: 1280) {
        margin-bottom: use-modular-scale(2) * 1em;
    }
}
