@import '../variables';
@import '../media';
@import '../mixins';

.main {
    align-self: center;
    @include top-level-element;
    padding: 3rem 0 calc(3rem + #{$height-bottom-nav});

    @include media($max-width: 'md', $min-height: 'sm-1') {
        padding: 0;
    }

    @include media($min-width: 'md') {
        padding-top: calc(#{$height-top-nav} + 3rem);
    }

    @include media($min-width: 'xs', $max-width: 'md-1', $min-aspect-ratio: '2/1') {
        padding: 3rem 0 calc(3rem + #{$height-bottom-nav});
    }
}

.job-title {
    margin-bottom: 0.75rem;
}

.ad-copy {
    margin-bottom: 5rem;
}

.job-title,
.ad-copy {
    @include media($min-width: 'md') {
        max-width: 32rem;
    }

    @include media($min-width: 'lg') {
        max-width: 37rem;
    }
}

.button {
    $border-attributes: 0.0625rem solid;

    &--filled {
        background: $color-secondary;
        border: $border-attributes $color-secondary;
    }

    &--outlined {
        background: $color-background;
        border: $border-attributes $color-heading;
    }

    @include media($max-width: 'md') {
        display: none;
    }

    @include media($min-width: 'md') {
        display: inline-block;
        width: 13.5rem;
        padding: 1.125rem;
        letter-spacing: 0.125rem;
        text-align: center;
        border-radius: 0.25rem;
        box-shadow: $box-shadow-call-to-action-button;

        &:not(:last-of-type) {
            margin: 0 2rem 0 0;
        }
    }

    @include media($min-width: 'lg') {
        width: 14rem;
        padding: 1.25rem;
    }

    @include media($min-width: 'xs', $max-width: 'md-1', $min-aspect-ratio: '2/1') {
        display: none;
    }
}
