// Colors
$color-black: '#0c0c0c';
$color-white: '#fcfcfc';
$color-grey: (
    200: '#C9C9C9',
    300: '#8A8A8A',
    400: '#5B5A5E',
);

$color-background: #{$color-black};
$color-heading: #{$color-white};
$color-nav-link: #{$color-white};
$color-paragraph: map-get($color-grey, 300);
$color-annotation: map-get($color-grey, 400);
$color-bottom-nav-border: map-get($color-grey, 400);
$color-technology-tag: map-get($color-grey, 200);
$color-icon: #{$color-white};

// Dimensions
$breakpoints: (
    'xs': 20em,
    'sm': 35.5em,
    'md': 48em,
    'lg': 64em,
    'xl': 85.375em,
);

$height-top-nav: 5rem;
$height-bottom-nav: 5rem;
