// Colors
$color-black: #151417;
$color-white: #fcfcfc;

$color-background: #{$color-black};
// $color-background: #666;
$color-primary: #2a0c42;
$color-secondary: #6b00bf;
$color-heading: $color-white;
$color-nav-link: $color-white;
$color-paragraph: #d0d0d0;
$color-annotation: #8a8a8a;
// $color-bottom-nav-border: #5b5a5e;
$color-bottom-nav-border: darken(#5b5a5e, 10%);
$color-technology-tag: #c9c9c9;
$color-icon: $color-white;

$height-top-nav: 6rem;
$height-bottom-nav: 5rem;

// Visual/decorative
$border-radius-main: 1rem;

$box-shadow-project-image: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
$box-shadow-project-card: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
$box-shadow-top-nav: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$box-shadow-bottom-nav: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
$box-shadow-call-to-action-button: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$text-shadow-project-page-heading: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.5);
