@import '../../theme/variables';
@import '../../theme/media';

/// Selects the root element of the `IconContainer` component.
.container {
    height: 1.875rem;

    @include media($min-width: 'xs-1') {
        height: 2rem;
    }

    @include media($min-width: 'xs-2') {
        height: 2.25rem;
    }

    @include media($min-width: 'xl') {
        height: 2.5rem;
    }
}

.container.flex {
    display: flex;

    @include media($min-width: 'md') {
        display: none;
    }

    @include media(
        $min-width: 'xs',
        $max-width: 'md-1',
        $min-aspect-ratio: '2/1'
    ) {
        display: flex;
    }
}

/// Selects the `<a>` element that wraps around each icon.
.icon-link:not(:last-child) {
    margin-right: 0.875rem;

    @include media($min-width: 'xs-2') {
        margin-right: 1rem;
    }

    @include media($min-width: 'sm') {
        margin-right: 1.25rem;
    }
}

/// Selects the `<svg>` element, or the icon's root element.
.icon-link svg {
    height: 100%;

    path {
        fill: $color-heading;
    }
}

.icon-link.circled {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.625rem;
    height: 1.625rem;
    padding: 1rem;
    background: darken($color-secondary, 12%);
    border-radius: 50%;

    svg {
        width: 100%;
    }
}
