@import '../../theme/variables';
@import '../../theme/media';
@import '../../theme/mixins';

.nav {
    @mixin bottom-nav-styles {
        @include position($position: fixed, $r: 0, $b: 0, $l: 0);
        height: $height-bottom-nav;
        background: $color-background;
        border-top: 0.0625rem solid #{$color-bottom-nav-border};
        box-shadow: $box-shadow-bottom-nav;
    }

    @include media($max-width: 'md') {
        @include bottom-nav-styles;
    }

    @include media($min-width: 'md') {
        display: none;
    }

    @include media($min-width: 'xs', $max-width: 'md-1', $min-aspect-ratio: '2/1') {
        @include bottom-nav-styles;
        display: block;
    }
}

.nav-links {
    @include flex($jc: space-around);
    height: 100%;
    list-style: none;
}

.nav-link-container {
    flex: 1 0 0;
    height: 100%;
}

.nav-link {
    @include flex($jc: center, $ai: center, $fd: column);
    width: 100%;
    height: 100%;
    font-size: 0.75rem;

    svg {
        width: 2rem;
        height: 2rem;
        margin-bottom: 0.5rem;
    }

    svg path {
        fill: $color-heading;
    }
}
